# Database
Organized collection data that is stored electronically is a database. It is designed to store, manage and retrive large amounts of data. 

Databases can be used to store various data such as customer info, financial records, employee records, inventory and so much more. 

## Relational Database
It is type of database that organizes data into one or more tables.

# DBMS
it stands for Database Management System. It is like a manager resposible for managing relational database

# SQL
It stands for Structural Query Language. It is a programming language used to manage, manipulate relational databases.

It is case insensative language

# Some of The Most Important SQL Commands
* SELECT - extracts data from a database
* UPDATE - updates data in a database
* DELETE - deletes data from a database
* INSERT INTO - inserts new data into a database
* CREATE DATABASE - creates a new database
* ALTER DATABASE - modifies a database
* CREATE TABLE - creates a new table
* ALTER TABLE - modifies a table
* DROP TABLE - deletes a table
* CREATE INDEX - creates an index (search key)
* DROP INDEX - deletes an index

### import
firstly, to use sql we gotta import the lite version of sql
```python
import sqlite3
```

### connection object
This allows us to connect to a SQLite database ,or simply provides a path for our python code to interact with the database. 
```sql
conn = sqlite3.connect('example.db')

```
This will create a new database file named example.db in the current working directory if it doesn't already exist, and connect to it.

In [40]:
conn = sqlite3.connect("example.db")

### Cursor Object
This allows us to interact and execute SQL statements and fetch results from the database.
```sql
cursor = conn.cursor()
```
__<center>CONNECTION OBJECT VS CURSOR OBJECT<center>__
Think of the connection object as a pathway to the database, while the cursor object is a tool used to interact with the database.
    
__Use this analogy__: the connection is like a telephone line or network cable that connects two devices, while the cursor is like a phone or computer that allows you to communicate or perform actions over that connection.

Another good analogy is connection object is like a road and cursor object is like a car

### Create table
Then create a table using following code
```sql
cursor.execute("""
    CREATE TABLE table_name(column_name datatype, column_name datatype, ...)

""")

```
This code creates a new database file when you run it. If you try to run it again, you'll get an error because the table already exists. If you want to run it multiple times, you need to add a check to see if the table already exists before creating it.

This is how it's done
```sql
cursor.execute("""
    DROP TABLE IF EXISTS table_name(column_name datatype, column_name datatype, ...)

""")
cursor.execute("CREATE TABLE table_name (column_name datatype, column_name datatype, ...);")


```

# datatypes in sql
* INT - used for integers (whole numbers)
* FLOAT/ REAL - used for decimal numbers with floating-point precision
* VARCHAR - used for storing strings of variable length
* TEXT - used for storing strings with unlimited length
* CHAR - used for storing strings of fixed length
* DATE - used for storing dates (year, month, and day)
* TIME - used for storing time values (hour, minute, and second)
* BOOLEAN - used for storing boolean values (true/false)
__<center>VARCHAR VS CHAR<center>__
VARCHAR and CHAR are both SQL data types used to store character strings. However, there is a difference between them in terms of storage and memory allocation.
    
__`CHAR`__ is a fixed-length data type that allocates a specific amount of memory to store a string, regardless of the length of the string. For example, if you define a column as CHAR(10), it will always allocate 10 bytes of memory to store the string, even if the string is shorter than 10 characters.

__`VARCHAR`__, on the other hand, is a variable-length data type that allocates memory only for the actual length of the string. So, if you define a column as VARCHAR(10), and you insert a string of length 5, only 5 bytes of memory will be used to store that string.
    
In summary, CHAR is used when you know the maximum length of the string you want to store, while VARCHAR is used when the length of the string can vary. However, varchar is more recommended as it allows for variable-length string, as it saves more storage and is much more flexible.

In [41]:
# All of these in action
import sqlite3
con = sqlite3.connect("example.db")
cur = con.cursor()
cur.execute("""
CREATE TABLE example_table(id INTEGER, name VARCHAR(50), age INT)
""") #
#This creates an empty table

OperationalError: table example_table already exists

# Note
it's a common practice to write SQL commands in uppercase as it makes them easier to distinguish from other parts of the code. The use of lowercase for self-declared values is also a convention that makes the code more readable and easier to understand.

## To insert values
```sql
cursor.execute("INSERT INTO example_table(column_name, column_name, column_name) VALUES (value1, value2, value3)")
```

## To retrive data
```sql
cursor.execute("SELECT column_name1, column_name2, ... FROM table_name")
```
__`* means to select all columns`__

## To print to data
`fetchall( )` is used to fetch all the data in tuple format

In [ ]:
cur.execute("""
INSERT INTO example_table(id, name, age)
VALUES (1, 'Aayush', 19)
""")
cur.execute("""
INSERT INTO example_table(id, name, age)
VALUES (2, 'Animesh', 32)
""")
cur.execute("SELECT * FROM example_table")
print(cur.fetchall())

In [ ]:
# Same operation, making code look neater

In [ ]:
con = sqlite3.connect("example1.db")
cur = con.cursor()
query = """ CREATE TABLE user_table(name TEXT, age INT)
"""
cur.execute(query)

query = f""" 
INSERT INTO user_table(name, age)
VALUES ('John', 25), ('Mary', 30), ('Bob', 35), ('Alice', 40) 
"""
cur.execute(query)
query = "SELECT * FROM user_table"
print(cur.execute(query).fetchall())

In [1]:
# To only print names 
print(cur.execute("SELECT name FROM user_table").fetchall())

NameError: name 'cur' is not defined

In [ ]:
# To only print age
print(cur.execute("SELECT age FROM user_table").fetchall())

#### where clause

In [ ]:
# to select particular data
print(cur.execute("SELECT age FROM user_table WHERE name ='John'").fetchall())

In [ ]:
print(cur.execute("SELECT name FROM user_table WHERE name = 'Bob'").fetchall())

#### update clause

In [ ]:
# to update/ alter data
cur.execute("UPDATE user_table SET name = 'Richard' where name = 'John'")
print(cur.execute("SELECT * FROM user_table").fetchall())

The best thing about SQL language is that it basically sounds like English so the syntax is very easy to follow through

# Big Six elements in SQL Select statement

* SELECT: Used to indicate that we want to retrieve data from a table.

```sql
SELECT column_name
``` 
<hr>

* FROM: specifies the name of the table from which we want to retrieve data.

```sql
FROM table_name
``` 
<hr>

* WHERE:  used to filter the data based on certain conditions. It is used to specify the criteria that must be met for a row to be included in the result set.
```sql
WHERE logical_condition 
```
<hr>

* GROUP BY: specifies how to group the data in your results.

```sql
GROUP BY column_name
```
 <hr>
 
* HAVING: used to filter the grouped data based on certain conditions. It is used to specify the criteria that must be met for a group to be included in the result set.

```sql
HAVING logical_condition
```
 <hr>
 
* ORDER BY: used to sort the result set based on one or more columns. It can be used to sort the data in ascending or descending order.

```sql
ORDER BY column_name
```
 <hr>

# Question- 1
Write an SQL command to create a table with three columns: id (integer), name (varchar), and age (integer).

then row into the table created in question 10 with the values id=1, name='John', and age=25.

Then write an SQL command to retrieve all rows from the table

In [45]:
conn = sqlite3.connect("question_table1")
cursor = conn.cursor()
query = "CREATE TABLE IF NOT EXISTS question_table1(id INT, name VARCHAR(50), age INT)"
cursor.execute(query)

# second and third part
cursor.execute("INSERT INTO question_table1 VALUES (1, 'John', 25)")
cursor.execute("SELECT * FROM question_table1")
print(cursor.fetchall())

[(1, 'John', 25)]

SyntaxError: invalid syntax (4266713459.py, line 1)