# datatypes in python
* tuple
* list
* set
* dictionary
* strings
* numbers (int, float, complex)

In [19]:
msg = input()

subhan allah

In [20]:
msg

'subhan allah'

In [4]:
reply = input("Greeting. ")

Greeting. hi there

In [5]:
reply

'hi there'

In [9]:
num1 = input("Enter first number: ") 
num2 =input("Enter second number: ")
total = num1 + num2

print(total)

Enter first number: 45
Enter second number: 5
455

In [11]:
type(total) #we want number not string so we do following

str

# type casting
use this to take user input in a particular data type

In [14]:
num1 = int(input("Enter first number: ") ) 
num2 = int(input("Enter second number: ")) 
total = num1 + num2

print(total,  "finally we are getting addition of number but not a string")

Enter first number: 45
Enter second number: 5
50 finally we are getting addition of number but not a string

In [17]:
mul1 = int(input("number 1 "))
mul2 = int(input("number 2 "))
multiplication = mul1 * mul2
print(multiplication, "is the result of multiplying mul1 and mul2")

number 1 0.5

ValueError: invalid literal for int() with base 10: '0.5'

In [18]:
mul1 = float(input("number 1 "))
mul2 = float(input("number 2 "))
multiplication = mul1 * mul2
print(multiplication, "is the result of multiplying mul1 and mul2")

number 1 0.5
number 2 0.7
0.35 is the result of multiplying mul1 and mul2

# input() takes string as default value