In [1]:
a = 20
print(a)

20

In [2]:
20=a

SyntaxError: cannot assign to literal (4257265016.py, line 1)

# Can i provide any names to object to store value? -NO

# keywords:
keywords are reserved words in python. We cannot use a keyword as a variable name, funciton name or any other identifyer. They are used to define the syntax and structure of the python Lnaguage. In python Keywords are case sensitive

In [7]:
continue = 23

SyntaxError: invalid syntax (2226773490.py, line 1)

In [28]:
lambda = "hello"

SyntaxError: invalid syntax (1178101709.py, line 1)

In [9]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

In [10]:
false = 0

# UpperCase and lowercase name are different in python- python is case sensative

# We cannot use special symbols like `!@#$%^&*` etc in our identifier

In [12]:
@name= "Aayush"

SyntaxError: invalid syntax (2142972669.py, line 1)

In [13]:
$msg = "hi"

SyntaxError: invalid syntax (4112901797.py, line 1)

# you cannot use space in variable name

In [14]:
first name = "Ryan"

SyntaxError: invalid syntax (2267121899.py, line 1)

# You also cannot use - in variable name

In [15]:
first-name ="Ryan"

SyntaxError: cannot assign to operator (979439370.py, line 1)

# but you can use underscore _ to link different words in variable name

In [18]:
first_name = "Ryan"
first_name

'Ryan'

# combination of uppercase and lowercase is also allowed

In [20]:
MyName = "Aayush"
MyName

'Aayush'

# Digits are allowed in variabel name but only after letters

In [21]:
7name = "Ronaldo"
7name

SyntaxError: invalid syntax (4048284151.py, line 1)

In [22]:
name7 = "Ronaldo"
name7

'Ronaldo'

In [23]:
bgr2RGB = "Background to RGB"
bgr2RGB

'Background to RGB'

# Python is a case sensitive language

In [26]:
A = "UpperCase A"
a = "LowerCase a"
print(A)
print(a)

UpperCase A
LowerCase a

In [27]:
a = 5
A = 69
print(f"This is Big A and it's value is {A}")
print(f"This is small a and it's value is {a}")

This is Big A and it's value is 69
This is small a and it's value is 5

# SQL is a case-insensitive language

# Now, repeat repeat

# big no no's in python
# cannot assign number as variable

In [2]:
a = 20 # this is valid whilst,
a

20

In [3]:
20 = a #invalid
a

SyntaxError: cannot assign to literal (2601883662.py, line 1)

In [ ]:
# keywords:
keywords are reserved words in python. We cannot use a keyword as a variable name, funciton name or any other identifyer. They are used to define the syntax and structure of the python Lnaguage. In python Keywords are case sensitive

In [4]:
global = 5.6
global

SyntaxError: invalid syntax (837395270.py, line 1)

In [5]:
False = 0

SyntaxError: cannot assign to False (1160946929.py, line 1)

# python is case sensative
eg since False is a keyword it can't be used as variable however, false can be used to do so

In [6]:
false = 0
false

0

# SQL is case insensative language

In [10]:
a, A = 20, 40

print(f"value of a is {a} and A is {A} respectively")

value of a is 20 and A is 40 respectively

# special symbols`(!@#$%^& etc)` can't be used as our identifier

In [11]:
@messi = "footballer"
@messi

SyntaxError: invalid syntax (853720402.py, line 1)

$data = "very good"m

# uses of spacemark in variable naming is prohibited

In [13]:
f name = "aayush"

SyntaxError: invalid syntax (2496145401.py, line 1)

# you can't use - either in variable name

In [16]:
f-name = "aayush"
f-name

SyntaxError: cannot assign to operator (2009182588.py, line 1)

# but you can use capital letters and _

In [15]:
f_name = "aayush"
f_name

'aayush'

In [17]:
lName = "Basnet"
lName

'Basnet'

# Numbers can follow character or _ but can't come at first or independent

In [18]:
1name = "Leo"
1name

SyntaxError: invalid syntax (273631647.py, line 1)

In [19]:
name1 = "Leo"
name1

'Leo'

In [21]:
Car = 'nice'
Car

'nice'

# if x1=5, x2=9, y1=3, y2=3 find distance and manhatten distance between them
$manhatten-distance = |x2-x1|+ |y2-y1|$

In [26]:
x1, x2, y1, y2= 5, 9, 3, 3

x = (x2-x1)**2
y = (y2-y1)**2
d = (x-y) **0.5
print(f"the distance is {d}")

the distance is 4.0

In [28]:
mx = (x2-x1)
my= (y2-y1)
manhatten = abs(mx)+abs(my) #abs stands for absolute, eg absolute of x is |x|
print(f"whilst, {manhatten} is the manhatten distance ")

whilst, 4 is the manhatten distance