# Tuple

# Q-1
Create a tuple of tuples, where each inner tuple contains the name and age of a person.

In [ ]:
tup = (("Aayush", 19), ("Ronaldo", 38), ("Messi", 35))
tup

# Q-2
Write a function that takes a tuple of numbers as input and returns the sum of the numbers.

In [ ]:
List = [3, 5, 6, 9, 11]
sum_list = sum(List)
sum_list #this can be done

In [ ]:
inp = input("Enter List of numbers seperated by comma: " )
x = inp.split(",")
tup = tuple(int(num) for num in x)
tup
sum(tup)

# Q-3
Write a function that takes a tuple of strings as input and returns the longest string.

In [ ]:
tuple_of_strings = ("apple", "ball", "cat", "Ronaldooo", "Ankara messi")
temp = ""
for string in tuple_of_strings:
    if len(string) > len(temp):
        temp = string
print(temp)

# Q-4
Write a function that takes a tuple of tuples as input from the user and returns a list of all the names of the people in the tuple.

In [ ]:
string_inp = input("Enter the names of people seperated by comma: ")
list_inp = string_inp.split(",")
tup = tuple(list_inp)
tup

# Set

This is considered to be a empty <strong>Dictonary</strong><br/>
```python
empty = {}
```
whilst, to make an empty set you must do this
```python
empty = set()
```
do not let it fool you

# Q- 1
Write a Python program to create a set of numbers (take user input) and then print out only the even numbers in the set.

In [ ]:
num = []
for i in range(5):
    user_input = int(input("Enter desired number: "))
    num.append(user_input)
set_num = set(num)
{item for item in set_num if item % 2 == 0}

### Alt soln
(taking user input in set, not in list)

first without using comprehension

In [ ]:
num = input("Enter the desired numbers, seperate each numbers by comma: ")

str_li = num.split(",")
li = []
for item in str_li:
    li.append(int(item))
    
li = set(li)

even_set = set()
for item in li:
    if item % 2 == 0:
        even_set.add(item)
            
even_set

# Q- 2
Write a Python program that creates a set of names and then prompts the user to enter a name. The program should then check if the name is in the set and print a message indicating whether or not the name is in the set.

In [ ]:
goats = {"messi", "ronaldo", "Cruyff", "Maradona", "Pele", "Zidane"}
str_inp = input("Enter to check goat: ").lower()
goats = {item.lower() for item in goats}
if str_inp in goats:
    print(str_inp, "is a goat")
else:
    print(f"sorry {str_inp} is not a goat")

# Q- 3
Write a Python program that creates two sets of integers and then prints out the union of the two sets.

In [ ]:
set1 = set()
set2 = set()
for item in range(4):
    inp1 = input("enter first set of numbers: ")
    if inp1.isdigit():
        set1.add(int(inp1))
    else:
        print("I asked for digit bro")
for item in range(4):
    inp2 = input("enter second set of numbers: ")
    if inp2.isdigit():
        set2.add(int(inp2))
    else:
        print("I asked for digit bro")
union_list = set1.union(set2)
union_list

# Q- 4
Write a Python program that creates a set of strings and then sorts the strings in alphabetical order.

In [ ]:
kaka = ["b", "c", "a", "de", "ef"]
kaka.sort()
print(kaka) #this is how sort works

In [ ]:
sett = {"Ball", "Apple", "CArnivore", "Zootopia", "Handy"}
sett.sort()
print(sett)

this doesn't work cuz set is unindexed and unordered, so we convert set to list then sort it, then finally convert it back to set

In [ ]:
str_set = {"Ball", "Apple", "CArnivore", "Zootopia", "Handy"}
sorted_list = sorted(str_set)
sorted_list #this code converts set to list then arrange it alphabetically

In [ ]:
str_set = {"Ball", "Apple", "CArnivore", "Zootopia", "Handy"}
sorted_list = sorted(str_set)
sorted_set = set(sorted_list)
sorted_set

# Q- 5
Write a Python program that takes a set of numbers from the user and then finds the maximum and minimum values in the set.

In [ ]:
num_set = {int(input("Enter nums bro: ") )for num in range(4)}
print(f"the min number is {min(num_set)} and max is {max(num_set)}")

# Q- 6
Write a Python program that creates a set of names and then removes all names that contain the letter 'a'.

In [ ]:
names = {input("Enter names bro: ") for num in range(4)}
names = {item.lower() for item in names}
no_a_set = set()
for item in names:
    if "a" in item:
        continue
    else:
        no_a_set.add(item)
no_a_set

# Dictonary
### absolute basics first

### pt-1
How do you create an empty dictionary in Python?

In [ ]:
empty = {}
type(empty)

In [ ]:
# alternate
empty = dict()
type(empty)

### pt-2
How do you add a key-value pair to a dictionary?

In [ ]:
about = {}
about

In [ ]:
about["name"]= "Aayush"
about

In [ ]:
about["age"] = 19
about

### pt-3
How do you remove a key-value pair from a dictionary?

In [ ]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
del cap["Afgan"]
cap

In [ ]:
#alternate
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
cap.pop("Nepal")
cap

### pt- 4
How do you check if a key exists in a dictionary in Python?

In [ ]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
"Nepal" in cap, "China" in cap

### pt-5
How do you iterate over the keys of a dictionary in Python?

In [ ]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for key in cap:
    print(key)

In [ ]:
#Alternative
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for key in cap.keys():
    print(key)

In [ ]:
#Alternative
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for key, value in cap.items():
    print(key)

### pt-6
How do you iterate over the values of a dictionary in Python?

In [ ]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for key in cap:
    print(cap[key])

In [ ]:
# ALternative
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for value in cap.values():
    print(value)

In [ ]:
#Alternate
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for key, value in cap.items():
    print(value)

How do you sort a dictionary by its values in Python?
How do you merge two dictionaries in Python?

### pt-7
How do you iterate over both the keys and values of a dictionary in Python?

In [ ]:
capitals = {
    "Nepal" : "Kathmandu",
    "India" : "New Delhi",
    "USA" : "Washington D.C.",
    "China" : "Beijing",
    "Japan" : "Tokyo"
}
for keys, values in capitals.items():
    print(keys, values)

### pt-8
How do you sort a dictionary by its keys in Python?

In [ ]:
my_dict = {
    "b" : 2,
    "d" : 4,
    "e" : 5,
    "c" : 3,
    "a" : 1,

}
    
sorted_list = dict(sorted(my_dict.items()))
sorted_list

### pt-9
How do you sort a dictionary by its values in Python?

In [ ]:
#same as solution in pt-8

### pt- 10
How do you merge two dictionaries in Python?

In [6]:
person1 = {
    "name": "John",
    "age": 35,
    "occupation": "Engineer",
    "country": "USA"
}
car1 = {
    "brand": "Toyota",
    "model": "Corolla",
    "year": 2020,
    "color": "Silver"
}
person1.update(car1)
print(person1)

{'name': 'John', 'age': 35, 'occupation': 'Engineer', 'country': 'USA', 'brand': 'Toyota', 'model': 'Corolla', 'year': 2020, 'color': 'Silver'}

### pt- 11
swap the key in values place and vice versa for a given dictionary.

In [10]:
# for this we use dictonary comprehension
person1 = {
    "name": "John",
    "age": 35,
    "occupation": "Engineer",
    "country": "USA"
}
{value: key for key, value in person1.items()}

{'John': 'name', 35: 'age', 'Engineer': 'occupation', 'USA': 'country'}

# Qn- 1
Write a Python program to create a dictionary of key-value pairs where the keys are numbers from 1 to 10 and the values are their squares.

In [21]:
my_dict = dict()
for num in range(1, 11):
        my_dict.update({num: num **2})
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

# Qn- 2
Write a Python program to concatenate two dictionaries.

### first lets understand .copy( )
we use this if we want to use all the values of original variable but without modifying original variable. we use this to copy the value

In [29]:
original_dict = {'a': 1, 'b': 2, 'c': 3}
copy_dict = original_dict.copy()

copy_dict["d"] = 4
print(original_dict)  
print(copy_dict)  #original value remains unchanged

{'a': 1, 'b': 2, 'c': 3}
{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [26]:
dict_1 = {'cactus': 'a plant that stabs back',
                'jellyfish': 'a sea pancake with a bad temper',
                'sloth': 'a fuzzy potato that moves at the speed of smell'}
dict_2 = {'avocado': 'the fruit that won\'t commit',
                'hippopotamus': 'a very angry water sofa',
                'octopus': 'a stressed spaghetti'}

merged_dict = dict_1.copy()
merged_dict.update(dict_2)
merged_dict

{'cactus': 'a plant that stabs back',
 'jellyfish': 'a sea pancake with a bad temper',
 'sloth': 'a fuzzy potato that moves at the speed of smell',
 'avocado': "the fruit that won't commit",
 'hippopotamus': 'a very angry water sofa',
 'octopus': 'a stressed spaghetti'}

# Qn- 3
Write a Python program to check if a given key exists in a dictionary,
also check whether given value exists in the dictonary.

In [46]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
"Nepal" in cap, "Canada" in cap, "Ktm" in cap
# this is same as "Nepal" in cap.keys()

(True, False, False)

In [45]:
"Ktm" in cap.values(), "Ottawa" in cap.values()

(True, False)

# Qn- 4
Write a Python program to iterate over a dictionary and print the keys and values.

In [55]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
for key,value in cap.items():
    print(key,":", value)

Nepal : Ktm
India : Del
Afgan : kabul
Bhutan : Thimpu
Bangal : Dhaka

# Qn- 5
Write a Python program to remove a key-value pair from a dictionary.

In [58]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
del cap["Nepal"]
cap

{'India': 'Del', 'Afgan': 'kabul', 'Bhutan': 'Thimpu', 'Bangal': 'Dhaka'}

In [59]:
# Alternative
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
cap.pop("Nepal")
cap

{'India': 'Del', 'Afgan': 'kabul', 'Bhutan': 'Thimpu', 'Bangal': 'Dhaka'}

# Qn- 6
Write a Python program to remove MULTIPLE key-value pairs from a dictionary.

In [60]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
pairs_to_remove = ["Nepal", "Afgan", "Bangal"]
for item in pairs_to_remove:
    del cap[item]
cap

{'India': 'Del', 'Bhutan': 'Thimpu'}

In [61]:
# Alternate
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
pairs_to_remove = ["Nepal", "Afgan", "Bangal"]
for item in pairs_to_remove:
    cap.pop(item)
cap

{'India': 'Del', 'Bhutan': 'Thimpu'}

# Qn- 7
Write a Python program to sort a dictionary by value in descending order.

In [80]:
my_dict = {'apple': 50, 'banana': 20, 'orange': 30, 'pear': 40}

sorted_dict = dict(sorted(my_dict.items(), key=lambda x: x[1], reverse=True))
 #sorted convers the dict to list so we use dict again to concert list back to dict

sorted_dict
# I have't yet learned what lambda is in python

{'apple': 50, 'pear': 40, 'orange': 30, 'banana': 20}

# Qn- 8
Write a Python program to count the number of occurrences of each character in a string and store them in a dictionary.

In [112]:
word = "aayush"
count = 1
temp = dict()
for item in word:
    if item in temp:
        temp[item] += 1
    elif item == " ":
        continue

    else:
        temp.update({item: count})
print(temp)

{'a': 2, 'y': 1, 'u': 1, 's': 1, 'h': 1}

# Qn- 9
Write a Python program to find the sum of all the values in a dictionary.

In [123]:
food = {"chicken": 500, "rice": 60, "Momo": 100}
total = 0
for value in food.values():
    total += value
    
print(total, ": this is value")

660 : this is value

In [126]:
# ALternative, EASIER METHOD
food = {"chicken": 500, "rice": 60, "Momo": 100}
total = sum(food.values())
print(total)

660

# Qn- 10
Write a Python program to get the key with the highest value in a dictionary.

In [135]:
# this is how we acess the value of a key in python
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
print(cap["Nepal"]) # output: "Ktm"
#ALT
print(cap.get("Nepal"))

Ktm
Ktm

In [153]:
food = {"chicken": 500, "rice": 800, "Momo": 100, "paneer": 400}
highest_value = 0
highest_key = ""
for key, value in food.items():
    if value >= highest_value:
        highest_value = value
        highest_key = key
print(f"this {highest_key} has value {highest_value}, i.e the highest")

this rice has value 800, i.e the highest