# Dictonary
Dictonaries is used to store data values in key: balue pairs
* A dictonary is collection which is ordered, changable, and do not allow duplicate keys

# syntax
```Python{
    key: value,
    key: value,
    key: value,
}```

## creating empty dictonary

In [1]:
capital = {}
type(capital)

dict

In [2]:
d = dict() 
type(d)

dict

# Adding key value pair in dictionary

In [4]:
about = {}
about

{}

In [7]:
about["name"] = "Aayush"
about

{'name': 'Aayush'}

In [8]:
about["age"] = 19
about

{'name': 'Aayush', 'age': 19}

In [9]:
about.update({"works" : ["berojgar", "student"]})
about

{'name': 'Aayush', 'age': 19, 'works': ['berojgar', 'student']}

In [10]:
about.update({"location": "Bhaktapur"})

In [11]:
about

{'name': 'Aayush',
 'age': 19,
 'works': ['berojgar', 'student'],
 'location': 'Bhaktapur'}

### if key doesn't exist then a new value is added to dictonary, if it does than the key is overwritten

In [12]:
about.update({"name" : "Ram"})
about

{'name': 'Ram',
 'age': 19,
 'works': ['berojgar', 'student'],
 'location': 'Bhaktapur'}

In [15]:
about["location"] = "Canada"
about

{'name': 'Ram',
 'age': 19,
 'works': ['berojgar', 'student'],
 'location': 'Canada'}

# How to acess value of a key in dictonary

In [17]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
cap

{'Nepal': 'Ktm',
 'India': 'Del',
 'Afgan': 'kabul',
 'Bhutan': 'Thimpu',
 'Bangal': 'Dhaka'}

In [19]:
cap["Nepal"]

'Ktm'

In [20]:
cap["India"]

'Del'

In [21]:
# Alternate

In [22]:
cap.get("Bhutan")

'Thimpu'

In [23]:
cap.get("Afgan")

'kabul'

In [25]:
products = {
        "id": 1,
        "location": 'Yukon',
        "title": 'Yukon Wildlife Preserve',
        "img": 'https://d28wuw2qq2j212.cloudfront.net/sites/default/files/styles/post_full-width_image_desktop/public/posts/%5Bnid%5D/yukon_wildlife_preserve_credit_lindsay_caskenette.jpg?itok=tob3lYQa&timestamp=1459892123',
        "description": 'Canada’s north is home to some of Canada’s most unusual wildlife, and the Yukon Wildlife Preserve works to keep it that way. Located only 25 minutes from downtown Whitehorse, the Preserve’s enthusiastic staff care for injured wild animals before releasing the healthy ones back into the wild. Visitors can tour the preserve to learn about more than a dozen different species of Arctic and boreal animals. Tour the facility’s three-mile ‘viewing loop’ on foot, by ski, by snowshoe, or on a guided bus. See caribou, lynx, elk, bison, and more in their distinct natural habitats, from wetlands to cliffs, but not in a pen or a cage. And be camera ready—you never know what animals are going to make an appearance.',
        "category": 'Natural' 
    }

In [28]:
products["id"] #same thing is done in JS by products.id

1

In [29]:
products.get("img")

'https://d28wuw2qq2j212.cloudfront.net/sites/default/files/styles/post_full-width_image_desktop/public/posts/%5Bnid%5D/yukon_wildlife_preserve_credit_lindsay_caskenette.jpg?itok=tob3lYQa&timestamp=1459892123'

# keys() and values()

In [30]:
products = {
        "id": 1,
        "location": 'Yukon',
        "title": 'Yukon Wildlife Preserve',
        "img": 'https://d28wuw2qq2j212.cloudfront.net/sites/default/files/styles/post_full-width_image_desktop/public/posts/%5Bnid%5D/yukon_wildlife_preserve_credit_lindsay_caskenette.jpg?itok=tob3lYQa&timestamp=1459892123',
        "description": 'Canada’s north is home to some of Canada’s most unusual wildlife, and the Yukon Wildlife Preserve works to keep it that way. Located only 25 minutes from downtown Whitehorse, the Preserve’s enthusiastic staff care for injured wild animals before releasing the healthy ones back into the wild. Visitors can tour the preserve to learn about more than a dozen different species of Arctic and boreal animals. Tour the facility’s three-mile ‘viewing loop’ on foot, by ski, by snowshoe, or on a guided bus. See caribou, lynx, elk, bison, and more in their distinct natural habitats, from wetlands to cliffs, but not in a pen or a cage. And be camera ready—you never know what animals are going to make an appearance.',
        "category": 'Natural' 
    }

In [31]:
products.keys()

dict_keys(['id', 'location', 'title', 'img', 'description', 'category'])

In [32]:
products.values()

dict_values([1, 'Yukon', 'Yukon Wildlife Preserve', 'https://d28wuw2qq2j212.cloudfront.net/sites/default/files/styles/post_full-width_image_desktop/public/posts/%5Bnid%5D/yukon_wildlife_preserve_credit_lindsay_caskenette.jpg?itok=tob3lYQa&timestamp=1459892123', 'Canada’s north is home to some of Canada’s most unusual wildlife, and the Yukon Wildlife Preserve works to keep it that way. Located only 25 minutes from downtown Whitehorse, the Preserve’s enthusiastic staff care for injured wild animals before releasing the healthy ones back into the wild. Visitors can tour the preserve to learn about more than a dozen different species of Arctic and boreal animals. Tour the facility’s three-mile ‘viewing loop’ on foot, by ski, by snowshoe, or on a guided bus. See caribou, lynx, elk, bison, and more in their distinct natural habitats, from wetlands to cliffs, but not in a pen or a cage. And be camera ready—you never know what animals are going to make an appearance.', 'Natural'])

In [34]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}
cap

{'Nepal': 'Ktm',
 'India': 'Del',
 'Afgan': 'kabul',
 'Bhutan': 'Thimpu',
 'Bangal': 'Dhaka'}

In [36]:
cap.items()

dict_items([('Nepal', 'Ktm'), ('India', 'Del'), ('Afgan', 'kabul'), ('Bhutan', 'Thimpu'), ('Bangal', 'Dhaka')])

# Tuple unpacking

In [37]:
a, b = (8, 6)

In [38]:
a

8

In [39]:
b

6

In [43]:
for stuff in cap.items():
    print(stuff)

('Nepal', 'Ktm')
('India', 'Del')
('Afgan', 'kabul')
('Bhutan', 'Thimpu')
('Bangal', 'Dhaka')

In [46]:
for keyyy, valll in cap.items():
    print(f"The key is {keyyy} and the value is {valll}")

The key is Nepal and the value is Ktm
The key is India and the value is Del
The key is Afgan and the value is kabul
The key is Bhutan and the value is Thimpu
The key is Bangal and the value is Dhaka

# Dictonary Comprehension:
Swap the key value from given dictonary

In [47]:
cap = {
    "Nepal" : "Ktm",
    "India" : "Del",
    "Afgan" : "kabul",
    "Bhutan" : "Thimpu",
    "Bangal" : "Dhaka"
}

In [49]:
{val:key for key, val in cap.items()} #use this to swap key and value

{'Ktm': 'Nepal',
 'Del': 'India',
 'kabul': 'Afgan',
 'Thimpu': 'Bhutan',
 'Dhaka': 'Bangal'}

# Nesting

In [58]:
child = {
    "first": {"name":"mote", "age": 18},
    "second": {"name":"bhude"}
}
child

{'first': {'name': 'mote', 'age': 18}, 'second': {'name': 'bhude'}}

In [59]:
child["first"] #similar to child.first in JS

{'name': 'mote', 'age': 18}

In [60]:
child["first"]["name"] #similar to child.first.name in JS

'mote'

In [61]:
child["first"]["age"]

18

In [64]:
us_price = {
    "bread": 2, 
    "butter": 3,
    "salt" : 24
}

In [65]:
exchange_rate = 138

In [66]:
{key: val * exchange_rate for key, val in us_price.items()}

{'bread': 276, 'butter': 414, 'salt': 3312}

### alt soln

In [67]:
nepali_price = {}
for key, val in us_price.items():
    nepali_price[key] = val * exchange_rate
nepali_price

{'bread': 276, 'butter': 414, 'salt': 3312}

# Qn
for the following dict, if price is higher than 300, levy 13% tax else no tax.

In [69]:
nepali_price = {'bread': 276, 'butter': 414, 'salt': 3312}
{key: val + val * 0.13 if val > 300 else val for key, val in nepali_price.items()}

{'bread': 276, 'butter': 467.82, 'salt': 3742.56}