# Unlike string, list is mutable

In [ ]:
cars = ["Mercedes", "Tesla", "BMW", "Bentely"]

In [6]:
id(cars)

140256043082560

In [2]:
# say if i want to remove Tesla and add lamborghini then...

In [4]:
cars[1] = "Lamborghini"
cars

['Mercedes', 'Lamborghini', 'BMW', 'Bentely']

Although string is immutable, List is MUTABLE

In [5]:
id(cars)

140256043082560

# slicing can be used to replace multiple data

In [10]:
fruits = ["apple","banana","peachs","melons","kiwi","mango","oranges" ]
fruits[1:4] = ["Naya banana", "naya peaches", "naya melons"]
fruits

['apple',
 'Naya banana',
 'naya peaches',
 'naya melons',
 'kiwi',
 'mango',
 'oranges']

# to insert new data on the list:::

In [13]:
fruits = ["apple","banana","peachs","melons","kiwi","mango","oranges" ]

In [12]:
fruits.insert(1, "Litchi")
fruits

['apple', 'Litchi', 'banana', 'peachs', 'melons', 'kiwi', 'mango', 'oranges']

# list.append() v-imp
append vaneko last ma attatch garne vaneko ho

In [18]:
goats = ["pele","maradona","cryuff",]
goats.append("cristiano")
goats

['pele', 'maradona', 'cryuff', 'cristiano']

In [19]:
goats.append("messi")
goats

['pele', 'maradona', 'cryuff', 'cristiano', 'messi']

In [22]:
std_name = [] #take 5 names from  the user

for item in range(5):
    name = input("enter name of users: ")
    std_name.append(name)

enter name of users: aayush
enter name of users: patrick
enter name of users: big man
enter name of users: big mac
enter name of users: hungry skiddo

In [25]:
city = []
for item in range(5):
    cities = input("Enter city name: ")
    city.append(cities)
print(city)

Enter city name: koteshwor
Enter city name: baneshwor
Enter city name: tinkune
Enter city name: lokanthali
Enter city name: thimi
['koteshwor', 'baneshwor', 'tinkune', 'lokanthali', 'thimi']

# list.remove()
this removes the specified item from a list

In [29]:
fruits = ["apple","banana","peaches","melons","kiwi","mango","oranges" ]
fruits.remove("peaches")
fruits

['apple', 'banana', 'melons', 'kiwi', 'mango', 'oranges']

# list.pop()
this removes the last item from a list

In [30]:
fruits = ["apple","banana","peaches","melons","kiwi","mango","oranges" ]
fruits.pop()
fruits

['apple', 'banana', 'peaches', 'melons', 'kiwi', 'mango']

### append le last ma value add garcha whilst
### pop le last ko item remove garcha

#### python list can be used as <h3>stack data structure<h3/> 
* append acts as push operation
* pop acts as pop operation
* stack works in a LIFO (Last In First Out) principal
* eg: stack --bookstack: jun book last ma thapincha tei paila nikalna milcha

# Assignment- 1
nums = [2, 4, 3, 9, 1, 7]
WAP to collect square of each number in a list. <br/>
Also, WAP to collect cube of each number in a list.

In [46]:
nums = [2, 4, 3, 9, 1, 7]
square =[]
cube = []
for number in nums:
    square_nums = number **2
    square.append(square_nums)
    cube_nums = number ** 3
    cube.append(cube_nums)
print(square)
print(cube)

[4, 16, 9, 81, 1, 49]
[8, 64, 27, 729, 1, 343]

# .join()
This can be used to convert list into a string

In [47]:
greet = ["Hello,","everybody.","How","are","you.","Fine,","Thank","you"]
greet

['Hello,', 'everybody.', 'How', 'are', 'you.', 'Fine,', 'Thank', 'you']

In [48]:
greet = ["Hello,","everybody.","How","are","you.","Fine,","Thank","you"]
sentence = " ".join(greet)
sentence

'Hello, everybody. How are you. Fine, Thank you'

# .sort()

In [54]:
nums = [-67, 54 ,3, -18, 69]
nums.sort()
nums #this arranges list in ascending order

[-67, -18, 3, 54, 69]

In [55]:
greet = ["Hello,","everybody.","How","are","you.","Fine,","Thank","you"]
greet.sort()
greet

['Fine,', 'Hello,', 'How', 'Thank', 'are', 'everybody.', 'you', 'you.']

# .extend()

In [56]:
fruit = ["apple", "banana", "lichi", "mango"]
vegetable = ["bhanta", "karela", "shag", "lauka", "aloo"]
fruit + vegetable

['apple',
 'banana',
 'lichi',
 'mango',
 'bhanta',
 'karela',
 'shag',
 'lauka',
 'aloo']

but if i want all these items 'in fruit list

In [60]:
fruit = ["apple", "banana", "lichi", "mango"]
vegetable = ["bhanta", "karela", "shag", "lauka", "aloo"]
fruit.extend(vegetable)
print(fruit)

['apple', 'banana', 'lichi', 'mango', 'bhanta', 'karela', 'shag', 'lauka', 'aloo']