# List
* List is collection of item under one variable name
* List supports multiple data-types
* List is ordered
* List is indexed
* List allows duplicate values

# creating empty list in python

In [ ]:
list1 = [] #this is empty list
type(list1)

In [ ]:
list2 = list() #using list constructor
type(list2)

## example

In [ ]:
fruits = ["orange", "mango", "banana", "apple", "peaches", "kiwi", "papaya"]
fruits

# indexing and slicing in list

In [ ]:
fruits[5]

In [ ]:
fruits[6]

In [ ]:
fruits[0]

In [ ]:
len(fruits)

In [ ]:
fruits[1:3] #index 1 ra 2 ko matra value aaucha

In [ ]:
fruits[3:5]

In [ ]:
fruits

#### to print mango, apple, and kiwi

In [ ]:
fruits[::2] #this is same as fruits[0:0:2]

In [ ]:
#### to print in step 3
fruits[0:len(fruits):3] # or fruits[::3]

# Negative indexing in python
negative index <strong>starts from -1 NOT 0<strong/>

In [ ]:
fruits

In [ ]:
fruits[-1] #last tira bata first vane jasto ho

# slicing using negative index

In [ ]:
fruits[-3]

In [ ]:
fruits[-3:]

# list supports multiple datatype and duplicate value

In [ ]:
list1 = [True, "Nepal", 1, 3.69]
list1

In [ ]:
type(list1)

# loops in list

In [ ]:
cars = ["tesla", "lamborghini", "rolls royce", "tata", "buggati", "Audi", "BMW"]
cars

In [ ]:
for index in range(len(cars)):
    car = cars[index]
    print(f"the index of {car} is {index}")

# Assignment-1 
if data = [10, 5, 6, 3, 8, 4, 2] <br/>
find the mean of data using for loop

In [ ]:
data = [10, 5, 6, 3, 8, 4, 2]
total = 0

for numbers in data:
    total = total + numbers ## this can also be written as total += numbers
print("the total is: ", total)
mean = total / len(data)
print("and the mean is: ", mean)

# teachers soln

In [ ]:
data = [10,5,6,3,8,4,2]
mean = sum(data)/len(data)

# Assingnment- 2
We have two strings <br/>
string1 = "NepalIndiaChina" <br/>
string2 = "indiachinanepal" <br/>
write a program to check if string2 is the rotation of string1 or not <br/>
 ###### Hint: suppose i shifted string1 by five position right(circular ). I will get string2. This phenomenon is called rotation of string. This means string2 is the rotation string of string1.

In [ ]:
string1 = "NepalIndiaChina"
string2 = "indiachinanepal"

string1 = string1.lower()
if len(string1) != len(string2):
    print("string2 is NOT a rotation of string1")
else:
    temp = string1 + string1
    print(temp)
    if string2 in temp:
        print("string2 is a rotation of string1")
    else:
        print("string2 is NOT a rotation of string1")

In [ ]:
nums = [9,2,45,0,11]
print(nums[2:4]) #4 index chai print hunna, i,e 2 and 3 are printed

In [ ]:
nums[-2:]

In [ ]:
nums[:4] #prints from 0 to 3, 4 is excluded

In [ ]:
nums[1:] #prints from 1 to all remaining

# question
Write a Python program that takes a list of numbers as input and prints the largest and smallest numbers in the list.

In [6]:
List = []
for item in range(5):
    num = int(input("Enter your number: "))
    List.append(num)
min(List)
max(List)
List.sort()
List

Enter your number: 54
Enter your number: 64
Enter your number: 56
Enter your number: 99
Enter your number: 172

[54, 56, 64, 99, 172]