# Set
* collection of items under one variable name
* unordered, unindexed
* do not allow duplicate value
* created suing {} and values are seperated by coma
* Mutable data type -- allows adding and removing items in set

In [16]:
khana_set = {"Rice", "Daal", "Masu","Paneer", "Achar", "Chattney", "Saag", "Papad" }
khana_set

{'Achar', 'Chattney', 'Daal', 'Masu', 'Paneer', 'Papad', 'Rice', 'Saag'}

In [3]:
khana_set[1] #set is unordered and unindexed

TypeError: 'set' object is not subscriptable

### Set is a mutable data-type, you can add and remove item from set

In [17]:
khana_set.add("prawn")
khana_set

{'Achar',
 'Chattney',
 'Daal',
 'Masu',
 'Paneer',
 'Papad',
 'Rice',
 'Saag',
 'prawn'}

In [18]:
khana_set.remove("Saag")
khana_set

{'Achar', 'Chattney', 'Daal', 'Masu', 'Paneer', 'Papad', 'Rice', 'prawn'}

### tara navako kura remove garda error aaucha, if we want to avoid error than we can use discard()

In [19]:
khana_set = {"Rice", "Daal", "Masu","Paneer", "Achar", "Chattney", "Saag", "Papad" }
khana_set.remove("chicken")

KeyError: 'chicken'

#### to avoid this error

In [22]:
khana_set = {"Rice", "Daal", "Masu","Paneer", "Achar", "Chattney", "Saag", "Papad" }
khana_set.discard("chicken")
khana_set

{'Achar', 'Chattney', 'Daal', 'Masu', 'Paneer', 'Papad', 'Rice', 'Saag'}

In [23]:
khana_set = {"Rice", "Daal", "Masu","Paneer", "Achar", "Chattney", "Saag", "Papad" }
khana_set.discard("Daal")
khana_set

{'Achar', 'Chattney', 'Masu', 'Paneer', 'Papad', 'Rice', 'Saag'}

# Set Operation

In [24]:
A = {"apple", "banana","cherry" }
B = {"google","microsoft","apple"}
A.intersection(B)

{'apple'}

In [26]:
# A intersection B is same as B intersection A
B.intersection(A)

{'apple'}

In [27]:
# similarly
B.union(A)

{'apple', 'banana', 'cherry', 'google', 'microsoft'}

In [28]:
A.difference(B) # All elements of A besides their intersection

{'banana', 'cherry'}

In [30]:
B.difference(A) # All elements of B besides their intersection

{'google', 'microsoft'}

Similarly

In [31]:
A - B #same as A.difference(B)

{'banana', 'cherry'}

In [33]:
B - A #B.difference(A)

{'google', 'microsoft'}

# FrozenSet: Frozenset is just an immutable version of a Python set object

In [38]:
fruits = {"apple", "banana","cherry" }
fruits.add("Mango")
fruits
#This can be done

{'Mango', 'apple', 'banana', 'cherry'}

In [39]:
fruits = {"apple", "banana","cherry" }
frozen_fruits = frozenset(fruits)
frozen_fruits.add("Mango")
frozen_fruits
# Now set is immutable

AttributeError: 'frozenset' object has no attribute 'add'