# Python Strings are immutable

In [1]:
name = "Aayush"
name[0]

'A'

In [2]:
name[0] = "B" #yo garna mildaina

TypeError: 'str' object does not support item assignment

# yo replace ta garnai paryo so this is how we doit

In [13]:
name = "Aayush"
name.replace("A", "B")

'Bayush'

In [12]:
name # still the value of name is not replaced, replace happens in different memory locaiton

'Bayush'

# to completely overwrite the original value of string variable we do this

In [14]:
name = "Aayush"
name = name.replace("y" ,"B")
name

'AaBush'

### but this also has a drawback, it replaces all the characters

In [15]:
name = "elephant"
name = name.replace("e" ,"d")
name

'dldphant'

# learn about regex and regular expression

In [16]:
msg = "Hello there"
msg = msg.replace("Hello", "Hi")
msg

'Hi there'

In [18]:
upper = "upper"
upper = upper.upper()
upper

'UPPER'

In [19]:
lower = "LOWER"
lower = lower.lower()
lower

'lower'

# lstrip, rstip, strip

In [25]:
msg = "     hello everyone, how are you   "
msg

'     hello everyone, how are you   '

In [26]:
msg.lstrip() #lstrip gets rid of left space

'hello everyone, how are you   '

In [27]:
msg = "     hello everyone, how are you    "
msg.rstrip() #lstrip gets rid of right space

'     hello everyone, how are you'

In [29]:
msg = "     hello everyone, how are you    "
msg.strip() #strip gets rid of all the spaces, both left and right but not center

'hello everyone, how are you'

# .split()

In [30]:
response = "I was born in Nepal."
response

'I was born in Nepal.'

In [32]:
words = response.split(" ")
words

['I', 'was', 'born', 'in', 'Nepal.']

In [33]:
type(words)

list

### collection of data under one variable is 
# list

In [34]:
len(words)

5

In [35]:
words[2]

'born'

# .join()
This can be used to convert list into a string

In [117]:
greet = ["Hello,","everybody.","How","are","you.","Fine,","Thank","you"]
greet

['Hello,', 'everybody.', 'How', 'are', 'you.', 'Fine,', 'Thank', 'you']

In [118]:
greet = ["Hello,","everybody.","How","are","you.","Fine,","Thank","you"]
sentence = " ".join(greet)
sentence

'Hello, everybody. How are you. Fine, Thank you'

# Assignment-1 
WAP to count vowel and consonents on the given string 
s = "HELLO"

In [96]:
s = input("Enter the desired string ")
vowel = 0
consonent = 0
for letter in s:
    if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
        vowel = vowel + 1
    elif letter == " ":
        continue
    else:
        consonent = consonent + 1
print("number of vowels is ", vowel)
print("number of vowels is ", consonent)

Enter the desired string this is nice code
number of vowels is  6
number of vowels is  8

# Assignment- 2
using string manipulation technique extract fruits name from txt <br/>

<strong> txt = "I like Oranges Apple Banana and Kiwi."<strong/>

result = ["Oranges", "Apple", "Banana", "Kiwi"]

In [76]:
txt = "I like Oranges Apple Banana and Kiwi."
fruits = txt.split(" ")
fruits

['I', 'like', 'Oranges', 'Apple', 'Banana', 'and', 'Kiwi.']

In [82]:
txt = "I like Oranges Apple Banana and Kiwi."
fruits = txt.split(" ")
del fruits[0:2]
fruits

['Oranges', 'Apple', 'Banana', 'and', 'Kiwi.']

In [104]:
txt = "I like Oranges Apple Banana and Kiwi."
txt = txt.lower()
fruits = txt.split(" ")
del fruits[0:2]
fruits.pop(3)
fruits

['oranges', 'apple', 'banana', 'kiwi.']

# teachers solution for assignment 1

In [101]:
string = "thIs Is my strIng eaaaa"
string = string.lower()
vowel = 0
consonant = 0
for index in range(len(string)):
    letter = string[index]
    if letter == "a" or letter == "e" or letter == "i" or letter == "o" or letter == "u":
        vowel = vowel + 1
    elif letter == " ":
        continue
    else:
        consonant = consonant + 1
print(f"number of vowel:", vowel)
print(f"number of consonant:", consonant)

number of vowel: 8
number of consonant: 11

# teachers soln for assignment-2

In [114]:
txt = "I like apple oranges banana and kiwi"
txt= txt.lower()
txt = txt.replace("i like ", "")
txt = txt.replace(" and","")
txt.split(" ")

['apple', 'oranges', 'banana', 'kiwi']