# Tuple

# Q-1
Create a tuple of tuples, where each inner tuple contains the name and age of a person.

In [ ]:
tup = (("Aayush", 19), ("Ronaldo", 38), ("Messi", 35))
tup

# Q-2
Write a function that takes a tuple of numbers as input and returns the sum of the numbers.

In [5]:
List = [3, 5, 6, 9, 11]
sum_list = sum(List)
sum_list #this can be done

34

In [ ]:
inp = input("Enter List of numbers seperated by comma: " )
x = inp.split(",")
tup = tuple(int(num) for num in x)
tup
sum(tup)

# Q-3
Write a function that takes a tuple of strings as input and returns the longest string.

In [ ]:
tuple_of_strings = ("apple", "ball", "cat", "Ronaldooo", "Ankara messi")
temp = ""
for string in tuple_of_strings:
    if len(string) > len(temp):
        temp = string
print(temp)

# Q-4
Write a function that takes a tuple of tuples as input from the user and returns a list of all the names of the people in the tuple.

In [4]:
string_inp = input("Enter the names of people seperated by comma: ")
list_inp = string_inp.split(",")
tup = tuple(list_inp)
tup

Enter the names of people seperated by comma: messi, haaland, mbappe, de bruyne

('messi', ' haaland', ' mbappe', ' de bruyne')

# Q- 4
Write a Python program to create a set of numbers (take user input) and then print out only the even numbers in the set.

In [16]:
num = []
for i in range(5):
    user_input = int(input("Enter desired number: "))
    num.append(user_input)
set_num = set(num)
{item for item in set_num if item % 2 == 0}

Enter desired number: 4
Enter desired number: 6
Enter desired number: 12
Enter desired number: 89
Enter desired number: 15

{4, 6, 12}

### Alt soln
(taking user input in set, not in list)

In [31]:
num = input("Enter the desired numbers, seperate each numbers by comma: ")
str_li = num.split(",")
li = []
for item in str_li:
    li.append(int(item))
    
li = set(li)

even_set = set()
for item in li:
    if item % 2 == 0:
        even_set.add(item)
            
even_set

Enter the desired numbers, seperate each numbers by comma: 4, 5, 3, 12, 8

{4, 8, 12}