SQL is case insensative language

In [1]:
import sqlite3

In [3]:
con = sqlite3.connect("bradway.db")

# Create statement in SQL
```sql
create table table_name (column_name datatype, column_name datatype, ...)
```

In [30]:
query = """
create table student(name varchar(50), phone_number int)
"""

# you need cursor to execute sql query from python
```sql
cur = con.cursor()
```

In [11]:
cur = con.cursor()

In [12]:
cur.execute(query)

# Insert data in sql
```sql
Insert into table_name (column_name, column_name ...)
values
(val1, val2, ...),
(val11, val12, ...)
```

In [13]:
#DOUBLE QUOTE BHITRA SINGLE QUOTTE HUNCHA
query = """
insert into student (name, phone_number)
values
('Aayush', 9840),  
('mishil', 98607),
('John', 987833)
"""

In [15]:
cur.execute(query)

# read data from sql table/ select operation
```sql
select column_name from table_name
```

In [17]:
query = 'select * from student'
cur.execute(query).fetchall()

[('Aayush', 9840), ('mishil', 98607), ('John', 987833)]

In [18]:
query = 'select name from student'
cur.execute(query).fetchall()

[('Aayush',), ('mishil',), ('John',)]

In [20]:
query = 'select phone_number from student'
cur.execute(query).fetchall()

[(9840,), (98607,), (987833,)]

# where clause

In [21]:
cur.execute("select phone_number from student where name = 'Aayush'").fetchall()

[(9840,)]

In [23]:
cur.execute("select phone_number from student where name = 'mishil'").fetchall()

[(98607,)]

In [24]:
#malai mishil manpardaina, so i want to change his name then

# update in sql

In [28]:
cur.execute("update student set name = 'Big Boy' where phone_number = 98607")

In [29]:
cur.execute("select * from student").fetchall()

[('Aayush', 9840), ('Big Boy', 98607), ('John', 987833)]